<h6>Sublets at Penn aims to simplify the subletting process on campus by offering a single-purpose, easy-to-use platform that connects students with each other. Whether for a summer, a semester, a year or more, Sublets at Penn helps students put all their options out there. We welcome other students looking for housing on campus too. No more Facebook "Class of…" wall posts or bathroom stall flyers.</h6>
<br />

<b>Have a place to sublet?</b> <br /><br />

Register an account using a university email address. <br /><br />

Create a listing with price, availability, photos and amenities. <br /><br />

Hear from students interested in your listing via email. <br /><br />

Seal the deal offline on your own terms! <br /><br />

<b>Looking for a place to stay?</b><br /><br />

Filter and search for the sublet you need by availability, location and amenities.<br /><br />

Get in touch with students whose sublets you're interested in.<br /><br />

Seal the deal offline on your own terms!<br /><br />

Questions? Suggestions? Feedback?
<a href="mailto:xie@thedp.com?Subject=SubletsAtPenn" target="_blank"><u>Let's hear them</u></a> <br /><br />

Coded and developed by Daily Pennsylvanian Chief Technology Officer Daniel Langer
