<b>TERMS OF SERVICE: </b><br />
"Sublets at Penn" is created and operated by The Daily Pennsylvanian and functions under the 
<a href="http://www.thedp.com/page/terms"><u>terms and conditions</u> </a>
outlined by The Daily Pennsylvanian. "Sublets at Penn" is meant to connect students who are providing and/or looking 
for temporary housing with each other.